//Variables
$font-title: 'Raleway';
$font-color: #08A6E4;

//Imports

//mixins

//herencia

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

header {
    padding: 1em;
    text-align: center;
    box-shadow: 0px 3px 6px 0px #0000004A;

    .header__title {
        display: inline;
        font-family: $font-title;
        font-weight: 300;
        line-height: 37px;
        color: $font-color;
    }

    .header__icon {
        display: inline;
        margin-left: 6em;
    }
}