* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  min-width: 320px;
}

header {
  padding: 1em;
  text-align: center;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
header .header__title {
  display: inline;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 37px;
  color: #08A6E4;
}
header .header__icon {
  display: inline;
  margin-left: 6em;
}
header .nav {
  display: none;
}

@media only screen and (min-width: 1000px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header .header__title {
    margin-left: 3em;
  }
  header .header__icon {
    display: none;
  }
  header .nav {
    display: flex;
    align-items: center;
  }
  header .nav__menu {
    margin-right: 2em;
    display: flex;
    list-style: none;
    text-transform: uppercase;
  }
  header .nav__menu__item {
    margin: 0 4em;
    font-family: "Open Sans", sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 3.2799999714px;
    text-align: center;
    color: #A5A5A5;
  }
  header .nav__menu__item:hover {
    display: flex;
    align-items: center;
    color: #000000;
    padding-bottom: 1.5em;
    border-bottom: 4px solid #08A6E4;
  }
}
.sales {
  margin: 0 auto;
  padding: 2.5em;
  max-width: 375px;
}
.sales__title {
  padding: 0.5em;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 41px;
}
.sales__description {
  padding: 0.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 23px;
}
.sales__button {
  margin-top: 2em;
  padding: 1.2em 2em;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border-radius: 2em;
}
.sales__title--margin {
  margin-bottom: 1em;
}

.salesPlatform {
  position: relative;
}
.salesPlatform__person {
  position: absolute;
  top: 2%;
  left: 50%;
}
.salesPlatform__eye {
  position: absolute;
  top: 6%;
  left: 47%;
}
.salesPlatform__catalog {
  position: absolute;
  top: 5%;
  left: 50%;
}
.salesPlatform__value {
  padding: 0.6em;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 24px;
}
.salesPlatform__text {
  padding: 0.6em 0.6em 0.8em 0.6em;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 20px;
  color: #A5A5A5;
}
.salesPlatform__text--small {
  margin: 0 auto;
  width: 45%;
}

.commercial {
  padding: 2em;
  background-color: #F7F7F7;
}
.commercial__cards {
  margin-bottom: 2.5em;
  padding: 2em;
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 2%;
}
.commercial__cards--filled {
  padding: 2em 2em 0 2em;
  margin-bottom: 0;
}
.commercial__cards__ellipse--red {
  position: absolute;
  top: 5%;
  left: 55%;
  z-index: 1;
}
.commercial__cards__item--macbook {
  position: relative;
  z-index: 3;
}
.commercial__cards__item--iphone {
  position: absolute;
  top: 12%;
  left: 28%;
}
.commercial__cards__rectangle--green {
  position: relative;
  width: calc(100% + 64px);
  transform: translateX(-10%);
  border: 1px solid #E8E9ED;
  background-color: #55DFB4;
}
.commercial__cards__item--trumpet {
  position: absolute;
  top: 65%;
  right: 10%;
  left: 0;
  z-index: 5;
}
.commercial__cards__title {
  padding: 1em 0;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
}
.commercial__cards__description {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  text-align: left;
}
.commercial__cards__title--brand {
  padding: 0.4em 0 1em 0;
}
.commercial__cards__description--brand {
  padding-bottom: 1em;
}

.pricing__premium, .pricing__professional, .pricing__basic {
  position: relative;
  padding: 1.5em 0.2em 2.5em 0.2em;
  width: 100%;
  border-radius: 10%;
}
.pricing__premium .columLeft, .pricing__professional .columLeft, .pricing__basic .columLeft {
  display: inline-block;
  width: 45%;
}
.pricing__premium .columLeft__name, .pricing__professional .columLeft__name, .pricing__basic .columLeft__name {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3rem;
}
.pricing__premium .columLeft__price, .pricing__professional .columLeft__price, .pricing__basic .columLeft__price {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3.5rem;
}
.pricing__premium .columLeft__timeLimit, .pricing__professional .columLeft__timeLimit, .pricing__basic .columLeft__timeLimit {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1rem;
}
.pricing__premium .columRight, .pricing__professional .columRight, .pricing__basic .columRight {
  display: inline-block;
  width: 45%;
  list-style: none;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.pricing__premium .columRight__item, .pricing__professional .columRight__item, .pricing__basic .columRight__item {
  margin-bottom: 1.3em;
}
.pricing__premium .button, .pricing__professional .button, .pricing__basic .button {
  padding: 1em 1.3em;
  width: 40%;
  border-radius: 23px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1rem;
  color: #FFFFFF;
  position: absolute;
  top: 90%;
  left: 30%;
}

.pricing {
  padding: 3em 2em;
  position: relative;
}
.pricing__title {
  padding-bottom: 0.6em;
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 2.5rem;
}
.pricing__basic {
  margin-bottom: 2.5em;
  border: 1px solid #FB3B64;
}
.pricing__basic .columLeft {
  transform: translate(-10%, -80%);
}
.pricing__basic .columLeft__price {
  color: #FB3B64;
}
.pricing__basic .button {
  background-color: #EB476E;
}
.pricing__professional {
  margin-bottom: 2.5em;
  border: 1px solid #07ACE6;
}
.pricing__professional .columLeft {
  transform: translate(-5%, -50%);
}
.pricing__professional .columLeft__price {
  color: #07ACE6;
}
.pricing__professional .button {
  background-color: #07ACE6;
}
.pricing__premium {
  border: 1px solid #55DFB4;
}
.pricing__premium .columLeft {
  transform: translate(-5%, -50%);
}
.pricing__premium .columLeft__price {
  color: #55DFB4;
}
.pricing__premium .button {
  background-color: #55DFB4;
}

.contact {
  padding: 2em;
}
.contact__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: left;
  margin-bottom: 0.25em;
}
.contact__subTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  text-align: left;
}
.contact__us {
  padding: 2em 0 2em;
}
.contact__us__email, .contact__us__numberPhone {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  text-align: left;
  color: #A5A5A5;
}
.contact__us__email__icon, .contact__us__numberPhone__icon {
  display: inline;
  vertical-align: middle;
}
.contact__us__email__text, .contact__us__numberPhone__text {
  display: inline;
  vertical-align: middle;
}
.contact__client {
  text-align: left;
}
.contact__client__label {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.2rem;
  color: #08A6E4;
  margin-bottom: 3em;
}
.contact__client__fillInput {
  border: none;
  border-bottom: 1px solid #95989A;
  outline: none;
  padding: 5px 0;
  font-size: 16px;
  width: 100%;
  margin-bottom: 3em;
}
.contact__client__checkTerms {
  display: inline-block;
  vertical-align: top;
}
.contact__client__terms {
  display: inline-block;
  width: 90%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1rem;
  text-align: left;
  color: #707070;
  margin-bottom: 3em;
}
.contact__client__submit {
  display: block;
  margin-left: auto;
  padding: 1.5em 1.3em;
  width: 70%;
  border-radius: 23px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1rem;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  background-color: #08A6E4;
  color: #FFFFFF;
}

footer {
  padding: 1em;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
}
footer .footer__data {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 45%;
}
footer .footer__data__title {
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2rem;
  color: #08A6E4;
}
footer .footer__data__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 0.8rem;
  color: #A5A5A5;
}
footer .footer__redes {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 45%;
}
footer .footer__redes__icon {
  margin-left: 1em;
}

/*# sourceMappingURL=styles.css.map */
