//Variables
$font_title: "Raleway", sans-serif;
$font_text: "Open Sans", sans-serif;
$color: #08A6E4;
//Imports

//mixins

//herencia

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

@import './styles/header.scss';

main {
    text-align: center;

    @import './styles/sales_section.scss';

}

/* // Image: Background;
background: url("Background.png");
background-size: cover;
 */