//Variables
$font_title: "Raleway", sans-serif;
$font_text: "Open Sans", sans-serif;
$color: #08A6E4;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    min-width: 320px;
}

@import './styles/header.scss';

main {

    @import './styles/sales_section.scss';

    @import './styles/salesPlatform_section.scss';

}

section.commercial {
    padding: 2em;
    background-color: #F7F7F7;

    @import './styles/commercial_section.scss';
}

@import './styles/pricing_section.scss';