* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  min-width: 320px;
}

header {
  padding: 1em;
  text-align: center;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
header .header__title {
  display: inline;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 37px;
  color: #08A6E4;
}
header .header__icon {
  display: inline;
  margin-left: 6em;
}

main .sales {
  padding: 4em;
}
main .sales__title {
  padding: 0.5em;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 41px;
}
main .sales__description {
  padding: 0.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 23px;
}
main .sales__button {
  margin-top: 2em;
  padding: 1.2em 2em;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border-radius: 2em;
}
main .sales__title--margin {
  margin-bottom: 1em;
}
main .salesPlatform {
  position: relative;
}
main .salesPlatform__person {
  position: absolute;
  top: 2%;
  left: 50%;
}
main .salesPlatform__eye {
  position: absolute;
  top: 6%;
  left: 47%;
}
main .salesPlatform__catalog {
  position: absolute;
  top: 5%;
  left: 50%;
}
main .salesPlatform__value {
  padding: 0.6em;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 24px;
}
main .salesPlatform__text {
  padding: 0.6em 0.6em 0.8em 0.6em;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 20px;
  color: #A5A5A5;
}
main .salesPlatform__text--small {
  margin: 0 auto;
  width: 45%;
}

.commercial {
  padding: 2em;
  background-color: #F7F7F7;
}
.commercial .beAlwaysFirst,
.commercial .shopLocation,
.commercial .popularBrand {
  padding: 2em;
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
}
.commercial .beAlwaysFirst__ellipse--red,
.commercial .shopLocation__ellipse--red,
.commercial .popularBrand__ellipse--red {
  position: absolute;
  top: 5%;
  left: 55%;
  z-index: 1;
}
.commercial .beAlwaysFirst__item--macbook,
.commercial .shopLocation__item--macbook,
.commercial .popularBrand__item--macbook {
  position: relative;
  z-index: 3;
}
.commercial .beAlwaysFirst__item--iphone,
.commercial .shopLocation__item--iphone,
.commercial .popularBrand__item--iphone {
  position: absolute;
  top: 12%;
  left: 28%;
}
.commercial .beAlwaysFirst__itemContainer,
.commercial .shopLocation__itemContainer,
.commercial .popularBrand__itemContainer {
  background-color: #55DFB4;
  position: relative;
  border: 1px solid #E8E9ED;
}
.commercial .beAlwaysFirst__itemContainer--trumpet,
.commercial .shopLocation__itemContainer--trumpet,
.commercial .popularBrand__itemContainer--trumpet {
  background-color: #08A6E4;
  opacity: 0.3;
  position: relative;
  right: 10%;
}

/*# sourceMappingURL=styles.css.map */
