//Herencia de propiedades
%common__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

// SLIDER
.slider {
    position: relative;
    margin: 2em auto;
    width: 80%;
    max-width: 800px;
    overflow: hidden;

}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;

    &--image {
        width: 100%;
        display: block;
    }

    &__button {
        &--prev {
            @extend %common__button;
            left: 10px;
        }

        &--next {
            @extend %common__button;
            right: 10px;
        }
    }
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;

    &--active {
        background-color: #717171;
    }
}

@media only screen and (min-width: 1000px) {
    #slider {
        width: 30%;
    }

}