.benefits__cards {
    padding: 2em;
    background-color: #F7F7F7;

    .card {
        padding: 2em;
        margin-bottom: 2.5em;

        border: 1px solid #E8E9ED;
        border-radius: 2%;

        background-color: #FFFFFF;

        &--marginBotton {
            margin-bottom: 0;
        }

        &--backgroundColor {
            background-color: #55DFB4;
        }

        &__logo {
            position: relative;

            &__ellipse {

                &--red {
                    position: absolute;
                    top: -15%;
                    left: 55%;
                }

                &--blue {
                    position: absolute;

                }
            }

            &__device {

                &--macbook {
                    position: relative;
                }

                &--iphone {
                    position: relative;
                }

                &--megaphone {
                    position: relative;
                    transform: translate(-15%, 25%);
                }
            }
        }

        &__info {

            &__title {
                padding: 1em 0;
                font-family: $font_title;
                font-size: 2rem;
                font-weight: 400;
                line-height: 2rem;
                text-align: left;

                &--paddingTop {
                    padding-top: 0.4em;
                }
            }

            &__description {
                font-family: $font_text;
                font-size: .9rem;
                font-weight: 400;
                line-height: 1.3rem;
                text-align: left;
            }
        }

    }

}

@media only screen and (min-width: 1000px) {

    .benefits__cards {

        .card {
            margin: 2.5em auto;
            max-width: 1000px;
            border-radius: 0;

            display: flex;
            justify-content: space-between;

            &--reverse {
                flex-direction: row-reverse;
            }

            &--lastCard {
                display: flex;
                justify-content: space-between;
                max-width: 1000px;
                margin: 0 auto;
                gap: 5%;

                background-color: #F7F7F7;
            }

            &__logo {
                width: 60%;

                &--lastCard {
                    position: relative;
                    width: 40%;
                }

                &--paddingBottom {
                    padding-bottom: 4em;
                }

                &__ellipse {

                    &--red {
                        width: 20%;
                        transform: translate(30%, 30%);
                    }

                    &--blue {
                        width: 50%;
                        transform: translate(-30%, -5%);
                    }
                }

                &__device {

                    &--macbook {
                        width: 50%;
                        transform: translate(10%, 20%);
                    }

                    &--iphone {
                        width: 60%;
                        transform: translate(-20%, 0);
                    }

                    &--megaphone {
                        transform: translate(5%, 0);
                    }
                }
            }

            &__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;

                &--lastCard {
                    width: 55%;
                }

                &__title {
                    padding-top: 0;
                    width: 70%;
                }

                &__description {
                    padding-bottom: 2em;
                    border-bottom: 4px solid;

                    &--borderRed {
                        border-color: #FB3B64;
                    }

                    &--borderBlue {
                        border-color: #08A6E4;
                    }

                    &--borderGreen {
                        border-color: #55DFB4;
                    }
                }
            }

        }

        .specialCard {
            margin: 0 auto;
            display: flex;
            gap: 5%;
            max-width: 1000px;

            &__info {
                display: flex;
                flex-direction: column;
            }
        }

    }
}