.commercial {
    padding: 2em;
    background-color: #F7F7F7;

    &__cards {
        position: relative;
        margin-bottom: 2.5em;
        padding: 2em;
        background-color: #FFFFFF;
        border: 1px solid #E8E9ED;
        border-radius: 2%;

        &__ellipse--red {
            position: absolute;
            top: 5%;
            left: 55%;
            z-index: 1;
        }

        &__item--macbook {
            position: relative;
            z-index: 3;
        }

        &__item--iphone {
            position: absolute;
            top: 12%;
            left: 28%;
        }

        &__item--trumpet {
            position: relative;
            transform: translate(-15%, 25%);
        }

        .cards {
            &__info {

                &__title {
                    padding: 1em 0;
                    font-family: $font_title;
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 2rem;
                    text-align: left;
                }

                &__description {
                    font-family: $font_text;
                    font-size: .9rem;
                    font-weight: 400;
                    line-height: 1.3rem;
                    text-align: left;

                }

                &__title--brand {
                    padding: 0.4em 0 1em 0;
                }

                &__description--brand {
                    padding-bottom: 1em;
                }

            }
        }

        &--background-rectangle {
            width: 100%;
            background-color: #55DFB4;
        }

        &--fillContainer {
            padding: 2em 2em 0 2em;
            margin-bottom: 0;
        }

    }
}

@media only screen and (min-width: 1000px) {

    .exception {
        margin: 0 auto;
        display: flex;
        gap: 5%;
        max-width: 1124px;

    }

    .commercial {
        padding: 8em 10em;

        &__cards {
            margin: 2.5em auto;
            padding: 3em;
            max-width: 1124px;

            display: flex;
            justify-content: flex-start;

            position: relative;

            &__ellipse--red {
                top: 30%;
                left: 80%;
            }

            &__ellipse--blue {
                position: absolute;
                top: 20%;
                left: 15%;
            }

            &__item--macbook {
                //El absolute me lo hace mas pequeño y encaja mas en el contexto.
                position: absolute;
                top: 35%;
                left: 65%;
            }

            &__item--iphone {
                top: 25%;
                left: 15%;
            }

            &__item--trumpet {
                transform: translate(0, 10%);
            }

            .cards {

                &__info {
                    width: 45%;

                    &__title {
                        width: 70%;
                    }

                    &__description {
                        width: 100%;
                        padding-bottom: 2em;
                        border-bottom: 4px solid;
                    }

                    &__border {
                        &--red {
                            border-color: #FB3B64;
                        }

                        &--blue {
                            border-color: #08A6E4;
                        }

                        &--green {
                            border-color: #55DFB4;
                        }
                    }

                }

                &__info--large {
                    width: 55%;

                }
            }

            &--background-rectangle {
                margin-top: 0;
                position: relative;
            }

            &--fillContainer {
                margin-top: 0;
                display: flex;
                flex-direction: column;
            }

        }

        &__cards--reverse {
            flex-direction: row-reverse;
        }

    }
}