header {
    padding: 1em;
    text-align: center;
    box-shadow: 0px 3px 6px 0px #0000004A;

    .header__title {
        display: inline;
        font-family: $font_title;
        font-weight: 300;
        line-height: 37px;
        color: $color;
    }

    .header__icon {
        display: inline;
        margin-left: 6em;
    }
}