.pricing {
    padding: 3em 2em;
    position: relative;

    &__title {
        padding-bottom: .6em;
        font-family: $font_title;
        font-size: 2.3rem;
        font-weight: 400;
        line-height: 2.5rem;
    }

    &__basic {
        padding: 1.5em .2em 2.5em .2em;
        width: 100%;
        border: 1px solid #FB3B64;
        border-radius: 10%;

        .basic__columLeft {
            display: inline-block;
            width: 45%;

            position: relative;
            transform: translate(-10%, -80%);

            &__name {
                font-family: $font_title;
                font-size: 1.25rem;
                font-weight: 700;
                line-height: 1.3rem;

            }

            &__price {
                font-family: $font_text;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 3.5rem;

                color: #FB3B64;

            }
        }

        .basic__columRight {
            display: inline-block;
            width: 45%;
            list-style: none;
            text-align: left;

            font-family: $font_text;
            font-size: .9rem;
            font-weight: 400;
            line-height: 1.25rem;

        }

        &__button {
            padding: 1em 1.3em;
            width: 40%;

            background-color: #EB476E;
            border-radius: 23px;
            border: none;

            font-family: $font_text;
            font-size: .9rem;
            font-weight: 700;
            line-height: 1rem;
            color: #FFFFFF;

            position: absolute;
            top: 60%;
            left: 30%;
        }
    }




    .pricing__professional {

        &--left {}

        &--right {}
    }
}