// Extends/Herencia
%common {
    position: relative;
    padding: 1.5em .2em 2.5em .2em;
    width: 100%;
    border-radius: 10%;

    .columLeft {
        display: inline-block;
        width: 45%;

        &__name {
            font-family: $font_title;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.3rem;

        }

        &__price {
            font-family: $font_text;
            font-size: 2.5rem;
            font-weight: 300;
            line-height: 3.5rem;

        }

        &__timeLimit {
            font-family: $font_title;
            font-size: .8rem;
            font-weight: 700;
            line-height: 1rem;
        }
    }

    .columRight {
        display: inline-block;
        width: 45%;
        list-style: none;
        text-align: left;

        font-family: $font_text;
        font-size: .9rem;
        font-weight: 400;
        line-height: 1.25rem;

        &__item {
            margin-bottom: 1.3em;
        }

    }

    .button {
        padding: 1em 1.3em;
        width: 40%;

        border-radius: 23px;
        border: none;

        font-family: $font_text;
        font-size: .9rem;
        font-weight: 700;
        line-height: 1rem;
        color: #FFFFFF;

        position: absolute;
        top: 90%;
        left: 30%;
    }
}

// Section
.pricing {
    padding: 3em 2em;
    position: relative;

    &__title {
        padding: 4em 0 .6em 0;
        font-family: $font_title;
        font-size: 2.3rem;
        font-weight: 400;
        line-height: 2.5rem;
    }

    &__basic {
        @extend %common;
        margin-bottom: 2.5em;
        border: 1px solid #FB3B64;

        .columLeft {
            transform: translate(-10%, -80%);

            &__price {
                color: #FB3B64;
            }
        }

        .button {
            background-color: #EB476E;
        }
    }

    &__professional {
        @extend %common;
        margin-bottom: 2.5em;
        border: 1px solid #07ACE6;

        .columLeft {
            transform: translate(-5%, -50%);

            &__price {
                color: #07ACE6;
            }
        }

        .button {
            background-color: #07ACE6;
        }
    }

    &__premium {
        @extend %common;
        border: 1px solid #55DFB4;

        .columLeft {
            transform: translate(-5%, -50%);

            &__price {
                color: #55DFB4;
            }
        }

        .button {
            background-color: #55DFB4;
        }
    }

}

@media only screen and (min-width: 1000px) {
    .pricing {
        display: flex;
        gap: 10%;


        &__basic,
        &__professional,
        &__premium {
            margin-bottom: 0;

            display: flex;
            flex-direction: column;
            align-items: center;

            .columLeft {
                transform: none;

                &__name {
                    margin-bottom: 1em;
                }
            }

            .columRight {
                text-align: center;
                padding: 4em 0 0 0;
            }

            .button {
                top: 95%;
            }
        }

        &__basic:hover,
        &__professional:hover,
        &__premium:hover {
            transform: scale(1.1);
        }

        &__basic:hover {
            box-shadow: 5px 10px 27px 0px #EB476E4A;
        }

        &__professional:hover {
            box-shadow: 5px 10px 27px 0px #07ACE64A;
        }

        &__premium:hover {
            box-shadow: 5px 10px 27px 0px #55DFB44A;
        }
    }
}